<%- include ('../partials/header') %>
<div class="container">
  <div class="row">
    <h1 style="text-align:center;">Add New Comment to <%= campground.name%></h1>
    <div style="width:30%; margin:25px auto;">
    <form  action="/campgrounds/<%= campground._id%>/comments" method="POST">
      <div class="form-group">
        <input class="form-control" type="text" name="comment[text]" placeholder="Text">
      </div>
      <!-- <div class="form-group">
          <input class="form-control" type="text" name="comment[author]" placeholder="author">
      </div> -->
      <div class="form-group">
        <button  class="btn btn-lg btn-primary btn-block" name="submit">Submit!</button>
      </div>


      <!-- <input class="btn btn-lg" type="submit" name="submit" value="Submit"> -->

    </form>
      <a href="/campgrounds/<%=campground._id%>">GO BACK</a>
    </div>
  </div>
</div>
<%- include ('../partials/footer') %>
